body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: lightblue;
}

.calculator {
  width: 50%;
  padding: 20px;
}

.results {
  width: 50%;
}

.head-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.error-message {
  padding:  0;
  margin: 0;
  color: red;
}